{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Your Webpage</title>
    <link rel="stylesheet" href="{% static '../static/style.css' %}">
</head>
<body>
    <header>
    </header>
    <div class="centered-buttons">
        <a href="{% url 'call_page' %}"><button class="green-button">Zamów posiłek</button></a>
        <a href="{% url 'call_page' %}"><button class="green-button">Wezwij kelnera</button></a>
        <a href="{% url 'call_page' %}"><button class="green-button">Zapłać</button></a>
        <a href="{% url 'menu_page' %}"><button class="green-button">Wyświetl menu</button></a>
        <a href="{% url 'newsletter_page' %}"><button class="yellow-button">Zapisz się do newslettera</button></a>
    </div>
</body>
</html>
