{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Your Webpage</title>
    <link rel="stylesheet" href="{% static '../static/style.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'index' %}" class="logo-link">
            <div class="header-left">
                <img class="logo-image" src="{% static 'logo.png' %}" alt="Logo">
                <h1 class="logo-text">PassItOn</h1>
            </div>
        </a>
        <div class="header-right">
            {% if user.is_authenticated %}
                <div class="user-info">
                    <p class="hello-text">Hello {{ user.username }}</p>
                    <a href="{% url 'logout_action' %}" class="logout-btn">Logout</a>
                </div>
            {% else %}
                <a href="{% url 'login_page' %}" class="login-btn">Login</a>
                <a href="{% url 'register_page' %}" class="register-btn">Register</a>
            {% endif %}
        </div>
    </header>
    <a href="{% url 'index' %}" class="go-back-link">
        <div class="go-back-button">
            <button class="go-back-button">Go back</button>
        </div>
    </a>
    <div class="user-registration-form">
        <h2>Registration Form</h2>
        <form action="{% url 'register_action' %}" method="post">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" id="username" name="username">
            
            <label for="first_name">First Name</label>
            <input type="text" id="first_name" name="first_name">
            
            <label for="last_name">Last Name</label>
            <input type="text" id="last_name" name="last_name">
            
            <label for="email">Email</label>
            <input type="email" id="email" name="email">
            
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
            
            <label for="date_of_birth">Date of Birth</label>
            <input type="date" id="date_of_birth" name="date_of_birth">
            
            <input type="submit" value="Register">
        </form>
    </div>
    <footer>
        <div class="footer-content">
            <div class="footer-text">
                <p>Contact us: info@example.com | +123 456 7890</p>
            </div>
            <div class="footer-contact">
                <table>
                    <tr>
                        <td>Email:</td>
                        <td>info@example.com</td>
                    </tr>
                    <tr>
                        <td>Phone:</td>
                        <td>+123 456 7890</td>
                    </tr>
                </table>
            </div>
        </div>
    </footer>
</body>
</html>
